In [14]:
import pandas as pd
import CococoNet_reader
import GO_Enrichment_Calculator
import Go_annotations

In [82]:
tomato_cococonet = CococoNet_reader.read_cococonet('tomato')

In [23]:
ranked_cococonet = tomato_cococonet.rank()

In [24]:
double_ranked_cococonet = ranked_cococonet.rank(axis = 1 )

In [76]:
double_ranked_cococonet = double_ranked_cococonet/21777

In [80]:
tomato_cococonet.loc['LOG8']

GAD3            0.393168
LOC101263636    0.478806
sos1            0.190430
LOC101263144    0.142137
LOC101247154    0.085813
                  ...
LyesC2t018      0.167063
LyesC2t021      0.299155
LyesC2t022      0.200576
LyesC2t024      0.250648
LyesC2t025      0.196619
Name: LOG8, Length: 21777, dtype: float64

In [81]:
double_ranked_cococonet.loc['LOG8'].sort_values(ascending= False).head(250).to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/double_ranked_top250_genes_tomato_log8.csv')

In [62]:
tomato_cococonet.loc['LOG8'].sort_values(ascending= False).head(250).to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/reg_top250_genes_tomato_log8.csv')

In [83]:
tomato_cococonet.loc['LOG8'].sort_values(ascending= False)

LOG8            1.000000
LOC101253323    0.728070
gMDH            0.721829
GS2             0.716912
LOC101259090    0.710412
                  ...
LOC101260421    0.001200
LOC101256272    0.001151
LOC101262706    0.000968
LOC101250067    0.000655
LOC101254720    0.000509
Name: LOG8, Length: 21777, dtype: float64

In [15]:
tomato_go_table = Go_annotations.get_go_annotations_as_panda('tomato')
tomato_go_table

GO_term,GO:0000002,GO:0000003,GO:0000014,GO:0000015,GO:0000018,GO:0000019,GO:0000023,GO:0000025,GO:0000026,GO:0000027,...,GO:2001215,GO:2001233,GO:2001234,GO:2001236,GO:2001237,GO:2001239,GO:2001240,GO:2001251,GO:2001252,GO:2001289
NetworkIDs,,,,,,,,,,,,,,,,,,,,,
2-CP1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2-CP2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20ox-3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3OH-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5PT1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ureD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
vsf-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wee1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ypt2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
def get_double_ranked_cococonet(species):
    reg_cococnet = CococoNet_reader.read_cococonet(species)
    reg_ranked_cococonet = reg_cococnet.rank()
    reg_double_ranked_cococonet = reg_ranked_cococonet.rank(axis = 1 )
    reg_double_ranked_cococonet = reg_double_ranked_cococonet/reg_double_ranked_cococonet.shape[0]
    return reg_double_ranked_cococonet

In [63]:
contingency_Tables = GO_Enrichment_Calculator.generate_contigency_tables(go_annotations= tomato_go_table, gene_list= double_ranked_cococonet.loc['LOG8'].sort_values(ascending= False).head(250).index.to_list())
double_ranked_results = GO_Enrichment_Calculator.fishers_exact_on_contigency_tables(contingency_Tables,tomato_go_table)

fixed_results = GO_Enrichment_Calculator.multi_hypothesis_correct_fishers_exact(double_ranked_results)
fixed_results.sort_values(by = 'P_value').head(8)

             P_value
GO_term
GO:0072347  0.956738
GO:0010037  0.956738
GO:0009927  0.956738
GO:0016844  0.956738
GO:0071368  0.994739
GO:0043424  0.994739
GO:0016843  0.994739
GO:0009736  0.994739

In [ ]:
rice_double_ranked_cococonet = get_double_ranked_cococonet('rice')

In [52]:
rice_go_table = Go_annotations.get_go_annotations_as_panda('rice')

In [58]:
rice_contingency_Tables = GO_Enrichment_Calculator.generate_contigency_tables(go_annotations= rice_go_table, gene_list= rice_double_ranked_cococonet.loc['Os01g0588900'].sort_values(ascending= False).head(250).index.to_list())
rice_double_ranked_results = GO_Enrichment_Calculator.fishers_exact_on_contigency_tables(rice_contingency_Tables,rice_go_table)

rice_fixed_results = GO_Enrichment_Calculator.multi_hypothesis_correct_fishers_exact(rice_double_ranked_results)
rice_fixed_results.sort_values(by = 'P_value').head(8)

             P_value
GO_term
GO:0009539  0.000001
GO:0015979  0.000059
GO:0009536  0.001797
GO:0009523  0.012702
GO:0009521  0.029942
GO:0042910  0.048651
GO:0042908  0.048651
GO:0043693  0.055621

In [64]:
rice_reg_coconet = CococoNet_reader.read_cococonet('rice')

In [67]:
rice_double_ranked_cococonet.loc['Os01g0588900'].sort_values(ascending= False).head(250).to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/double_ranked_top250_genes_rice_Os01g0588900.csv')

In [68]:
rice_reg_coconet.loc['Os01g0588900'].sort_values(ascending= False).head(250).to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/reg_top250_genes_rice_Os01g0588900.csv')

In [69]:
arab_reg_coconet = CococoNet_reader.read_cococonet('arabidopsis')
arab_double_ranked = get_double_ranked_cococonet('arabidopsis')

In [70]:
arab_go = Go_annotations.get_go_annotations_as_panda('arabidopsis')

In [71]:
arab_contingency_Tables = GO_Enrichment_Calculator.generate_contigency_tables(go_annotations= arab_go, gene_list= arab_double_ranked.loc['AT2G28305'].sort_values(ascending= False).head(250).index.to_list())
arab_double_ranked_results = GO_Enrichment_Calculator.fishers_exact_on_contigency_tables(arab_contingency_Tables,arab_go)

arab_fixed_results = GO_Enrichment_Calculator.multi_hypothesis_correct_fishers_exact(arab_double_ranked_results)

In [73]:
arab_double_ranked.loc['AT2G28305'].sort_values(ascending= False).head(250)

AT2G28305    1.000000
AT1G70700    0.999952
AT2G30540    0.999904
AT1G73550    0.999856
AT2G41905    0.999808
               ...
AT2G29300    0.988266
ATCG00610    0.988218
AT1G01520    0.988170
AT1G65890    0.988122
AT2G35950    0.988074
Name: AT2G28305, Length: 250, dtype: float64

In [74]:
arab_double_ranked.loc['AT2G28305'].sort_values(ascending= False).head(250).to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/double_ranked_top250_genes_arab_AT2G28305.csv')
arab_reg_coconet.loc['AT2G28305'].sort_values(ascending= False).head(250).to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/reg_top250_genes_arab_AT2G28305.csv')

In [72]:
arab_fixed_results.sort_values(by = 'P_value').head(20)

                 P_value
GO_term
GO:0001101  2.450787e-09
GO:0042221  2.069271e-08
GO:0050896  3.286743e-08
GO:0009611  3.318935e-08
GO:1901700  4.344315e-08
GO:0009725  2.563899e-07
GO:0009719  4.094374e-07
GO:0042493  4.768710e-07
GO:0046677  1.368373e-06
GO:0006950  1.368373e-06
GO:0009751  1.368373e-06
GO:0009753  1.412825e-06
GO:0010033  1.545079e-06
GO:0014070  1.901213e-04
GO:0140110  3.042008e-03
GO:0007623  4.933918e-03
GO:0009739  6.787236e-03
GO:0003700  7.774675e-03
GO:0007165  1.063996e-02
GO:0042445  1.118904e-02

In [59]:
rice_fixed_results.sort_values(by = 'P_value').head(15)

             P_value
GO_term
GO:0009539  0.000001
GO:0015979  0.000059
GO:0009536  0.001797
GO:0009523  0.012702
GO:0009521  0.029942
GO:0042910  0.048651
GO:0042908  0.048651
GO:0043693  0.055621
GO:0043692  0.055621
GO:0034357  0.086468
GO:0042493  0.086733
GO:0009507  0.141274
GO:0006720  0.162776
GO:0006855  0.169886
GO:0042651  0.226071