In [94]:
from Bio import Entrez
import time
from collections import defaultdict
import pandas as pd
import numpy as np

In [95]:
orthogroups = pd.read_csv("/data/passala/Collaborator_Data/Nick_cross_species_evolution/Orthogroups_At_Br_Bn.csv")
orthogroups

,Orthogroup,Athaliana.proteins,BrapaFPsc.proteins,Brassica_napus.AST_PRJEB5043_v1.pep.all
0,OG0000000,NaN,NaN,"CDX84122, CDY66928"
1,OG0000001,"AT1G42190.1, AT2G12880.1",Brara.F01917,NaN
2,OG0000002,NaN,Brara.G00400,"CDX81621, CDX81783, CDX94240, CDX96944, CDY086..."
3,OG0000003,AT3G32380.1,Brara.K00404,"CDX68467, CDX73265, CDY67014, CDY67692"
4,OG0000004,NaN,NaN,"CDX82169, CDX97325, CDX99568, CDY03006, CDY149..."
...,...,...,...,...
32476,OG0032476,NaN,NaN,NaN
32477,OG0032477,NaN,NaN,NaN
32478,OG0032478,NaN,NaN,NaN
32479,OG0032479,NaN,NaN,NaN
32480,OG0032480,NaN,NaN,NaN

In [63]:
unwrapped_brassica_napus_frame = pd.DataFrame(columns = ['Gene','Orthogroup'])
unwrapped_brassica_napus_frame

Empty DataFrame
Columns: [Gene, Orthogroup]
Index: []

In [64]:
for row in orthogroups.iterrows():
    genes = row[1][3]
    orthogroup_id = row[1][0]
    if pd.isna(genes):
        continue
    split_genes = genes.split(',')
    temp_panda = pd.DataFrame(columns = ['Gene','Orthogroup'], data = zip(split_genes, [orthogroup_id]*len(split_genes)))
    unwrapped_brassica_napus_frame = pd.concat([unwrapped_brassica_napus_frame, temp_panda])

In [65]:
unwrapped_brassica_napus_frame

         Gene Orthogroup
0    CDX84122  OG0000000
1    CDY66928  OG0000000
0    CDX81621  OG0000002
1    CDX81783  OG0000002
2    CDX94240  OG0000002
..        ...        ...
0    CDY42357  OG0028089
0    CDY00113  OG0028090
0    CDX91643  OG0028091
0    CDY10727  OG0028092
1    CDY10732  OG0028092

[92697 rows x 2 columns]

In [66]:
uniprot_converter = pd.read_csv("/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/Nicholas_helping/converters/cdy_cdx_to_uniprot.csv")
uniprot_converter

             Gene stable ID Transcript stable ID UniProtKB/TrEMBL ID
0       GSBRNA2T00082019001             CDY69013          A0A078JNA5
1       GSBRNA2T00018089001             CDY71688          A0A078JVS9
2       GSBRNA2T00018090001             CDY71689          A0A078JYC7
3       GSBRNA2T00018088001             CDY71687          A0A078K1D0
4       GSBRNA2T00034249001             CDY61704          A0A078J9G1
...                     ...                  ...                 ...
102372  GSBRNA2T00011445001             CDY53786          A0A078IV44
102373  GSBRNA2T00011439001             CDY53782          A0A078IUU4
102374  GSBRNA2T00011442001             CDY53783          A0A078IXN2
102375  GSBRNA2T00011444001             CDY53785          A0A078IRU7
102376  GSBRNA2T00004375001             CDY70554          A0A078JUQ6

[102377 rows x 3 columns]

In [67]:
merged_genes = unwrapped_brassica_napus_frame.merge(uniprot_converter, left_on = 'Gene', right_on = 'Transcript stable ID', how = 'left')
merged_genes

,Gene,Orthogroup,Gene stable ID,Transcript stable ID,UniProtKB/TrEMBL ID
0,CDX84122,OG0000000,GSBRNA2T00140131001,CDX84122,NaN
1,CDY66928,OG0000000,NaN,NaN,NaN
2,CDX81621,OG0000002,GSBRNA2T00136532001,CDX81621,NaN
3,CDX81783,OG0000002,NaN,NaN,NaN
4,CDX94240,OG0000002,NaN,NaN,NaN
...,...,...,...,...,...
92916,CDY42357,OG0028089,GSBRNA2T00074626001,CDY42357,A0A078HX06
92917,CDY00113,OG0028090,GSBRNA2T00109615001,CDY00113,NaN
92918,CDX91643,OG0028091,GSBRNA2T00153096001,CDX91643,NaN
92919,CDY10727,OG0028092,GSBRNA2T00048533001,CDY10727,A0A078FCJ6
92920,CDY10732,OG0028092,NaN,NaN,NaN

In [68]:
merged_genes_only_present = merged_genes.dropna(subset= 'UniProtKB/TrEMBL ID')
merged_genes_only_present

,Gene,Orthogroup,Gene stable ID,Transcript stable ID,UniProtKB/TrEMBL ID
418,CDY68219,OG0000009,GSBRNA2T00072033001,CDY68219,A0A078JN40
2722,CDY38978,OG0000031,GSBRNA2T00067037001,CDY38978,A0A078HQC2
3392,CDY40967,OG0000041,GSBRNA2T00072218001,CDY40967,A0A078HSX8
4018,CDY39882,OG0000056,GSBRNA2T00068720001,CDY39882,A0A078HPW0
4165,CDY47807,OG0000062,GSBRNA2T00088247001,CDY47807,A0A078ICE8
...,...,...,...,...,...
92911,CDY16678,OG0028084,GSBRNA2T00094527001,CDY16678,A0A078FW68
92912,CDY16696,OG0028085,GSBRNA2T00094551001,CDY16696,A0A078FUN7
92913,CDY34228,OG0028086,GSBRNA2T00056227001,CDY34228,A0A078HBQ9
92916,CDY42357,OG0028089,GSBRNA2T00074626001,CDY42357,A0A078HX06
92919,CDY10727,OG0028092,GSBRNA2T00048533001,CDY10727,A0A078FCJ6

In [69]:
merged_genes_only_present['UniProtKB/TrEMBL ID'].to_csv("/data/passala/Collaborator_Data/Nick_cross_species_evolution/Brassica_napus_uniprot_ids.csv", index = False)

In [100]:
matched_genes = pd.read_csv('/data/passala/Collaborator_Data/Nick_cross_species_evolution/matched_orthodb.csv', sep= '\t', names = ['OrthoDB','species','xref','ncbi','uniprot','ensmbl','entrez','description'])

In [101]:
matched_genes = matched_genes.loc[matched_genes['species'] == '3708_0']
matched_genes

,OrthoDB,species,xref,ncbi,uniprot,ensmbl,entrez,description
183,3708_0:000078,3708_0,XP_013641056.2,BnaA01g25780D,A0A078HWM0,NaN,106346304.0,BnaA01g25780D
184,3708_0:000084,3708_0,XP_013743738.3,BnaA01g17500D,A0A078H4B1,NaN,106446520.0,BnaA01g17500D
185,3708_0:0000cd,3708_0,XP_013656184.2,BnaA01g18690D,A0A078GC29,NaN,106361030.0,BnaA01g18690D
186,3708_0:0000e0,3708_0,XP_048595708.1,BnaA01g37280D,A0A078J7T4,NaN,NaN,Glutathione peroxidase
187,3708_0:000172,3708_0,XP_013729151.2,BnaC04g49930D;BnaCnng18330D,A0A078GAK7,NaN,106432850.0,NADH dehydrogenase
...,...,...,...,...,...,...,...,...
2209,3708_0:016132,3708_0,YP_005090006.1,ndhG,D1L8U2,NaN,11541999.0,ndhG
2210,3708_0:016135,3708_0,YP_005090015.1,ycf2,D1L8T1,NaN,11542081.0,Protein Ycf2
2211,3708_0:016136,3708_0,YP_005089963.1,ycf4,D1L8P9,NaN,11542012.0,Photosystem I assembly protein Ycf4
2212,3708_0:016137,3708_0,YP_005089978.1,psbB,D1L8R4,NaN,11542096.0,Photosystem II CP47 reaction center protein
2213,3708_0:01613a,3708_0,YP_005089995.1,ycf2,D1L8T1,NaN,11542031.0,Protein Ycf2

In [102]:
matched_genes['entrez'] = matched_genes['entrez'].replace(np.nan, 0)
matched_genes['entrez'] = matched_genes['entrez'].astype(int).astype(str)
matched_genes

,OrthoDB,species,xref,ncbi,uniprot,ensmbl,entrez,description
183,3708_0:000078,3708_0,XP_013641056.2,BnaA01g25780D,A0A078HWM0,NaN,106346304,BnaA01g25780D
184,3708_0:000084,3708_0,XP_013743738.3,BnaA01g17500D,A0A078H4B1,NaN,106446520,BnaA01g17500D
185,3708_0:0000cd,3708_0,XP_013656184.2,BnaA01g18690D,A0A078GC29,NaN,106361030,BnaA01g18690D
186,3708_0:0000e0,3708_0,XP_048595708.1,BnaA01g37280D,A0A078J7T4,NaN,0,Glutathione peroxidase
187,3708_0:000172,3708_0,XP_013729151.2,BnaC04g49930D;BnaCnng18330D,A0A078GAK7,NaN,106432850,NADH dehydrogenase
...,...,...,...,...,...,...,...,...
2209,3708_0:016132,3708_0,YP_005090006.1,ndhG,D1L8U2,NaN,11541999,ndhG
2210,3708_0:016135,3708_0,YP_005090015.1,ycf2,D1L8T1,NaN,11542081,Protein Ycf2
2211,3708_0:016136,3708_0,YP_005089963.1,ycf4,D1L8P9,NaN,11542012,Photosystem I assembly protein Ycf4
2212,3708_0:016137,3708_0,YP_005089978.1,psbB,D1L8R4,NaN,11542096,Photosystem II CP47 reaction center protein
2213,3708_0:01613a,3708_0,YP_005089995.1,ycf2,D1L8T1,NaN,11542031,Protein Ycf2

In [103]:
matched_genes['entrez'] = 'LOC' + matched_genes['entrez']
matched_genes['entrez']

183     LOC106346304
184     LOC106446520
185     LOC106361030
186             LOC0
187     LOC106432850
            ...
2209     LOC11541999
2210     LOC11542081
2211     LOC11542012
2212     LOC11542096
2213     LOC11542031
Name: entrez, Length: 2031, dtype: object

In [104]:
matched_genes = matched_genes.drop_duplicates(subset = 'entrez', keep= False)
matched_genes

,OrthoDB,species,xref,ncbi,uniprot,ensmbl,entrez,description
183,3708_0:000078,3708_0,XP_013641056.2,BnaA01g25780D,A0A078HWM0,NaN,LOC106346304,BnaA01g25780D
184,3708_0:000084,3708_0,XP_013743738.3,BnaA01g17500D,A0A078H4B1,NaN,LOC106446520,BnaA01g17500D
185,3708_0:0000cd,3708_0,XP_013656184.2,BnaA01g18690D,A0A078GC29,NaN,LOC106361030,BnaA01g18690D
187,3708_0:000172,3708_0,XP_013729151.2,BnaC04g49930D;BnaCnng18330D,A0A078GAK7,NaN,LOC106432850,NADH dehydrogenase
188,3708_0:000176,3708_0,XP_013670229.2,BnaA01g36110D,A0A078IQU3,NaN,LOC106374836,BnaA01g36110D
...,...,...,...,...,...,...,...,...
2209,3708_0:016132,3708_0,YP_005090006.1,ndhG,D1L8U2,NaN,LOC11541999,ndhG
2210,3708_0:016135,3708_0,YP_005090015.1,ycf2,D1L8T1,NaN,LOC11542081,Protein Ycf2
2211,3708_0:016136,3708_0,YP_005089963.1,ycf4,D1L8P9,NaN,LOC11542012,Photosystem I assembly protein Ycf4
2212,3708_0:016137,3708_0,YP_005089978.1,psbB,D1L8R4,NaN,LOC11542096,Photosystem II CP47 reaction center protein
2213,3708_0:01613a,3708_0,YP_005089995.1,ycf2,D1L8T1,NaN,LOC11542031,Protein Ycf2

In [105]:
merged_genes_only_present

,Gene,Orthogroup,Gene stable ID,Transcript stable ID,UniProtKB/TrEMBL ID
418,CDY68219,OG0000009,GSBRNA2T00072033001,CDY68219,A0A078JN40
2722,CDY38978,OG0000031,GSBRNA2T00067037001,CDY38978,A0A078HQC2
3392,CDY40967,OG0000041,GSBRNA2T00072218001,CDY40967,A0A078HSX8
4018,CDY39882,OG0000056,GSBRNA2T00068720001,CDY39882,A0A078HPW0
4165,CDY47807,OG0000062,GSBRNA2T00088247001,CDY47807,A0A078ICE8
...,...,...,...,...,...
92911,CDY16678,OG0028084,GSBRNA2T00094527001,CDY16678,A0A078FW68
92912,CDY16696,OG0028085,GSBRNA2T00094551001,CDY16696,A0A078FUN7
92913,CDY34228,OG0028086,GSBRNA2T00056227001,CDY34228,A0A078HBQ9
92916,CDY42357,OG0028089,GSBRNA2T00074626001,CDY42357,A0A078HX06
92919,CDY10727,OG0028092,GSBRNA2T00048533001,CDY10727,A0A078FCJ6

In [106]:
merged_genes_only_present.drop_duplicates(subset='Orthogroup', keep= False)

,Gene,Orthogroup,Gene stable ID,Transcript stable ID,UniProtKB/TrEMBL ID
418,CDY68219,OG0000009,GSBRNA2T00072033001,CDY68219,A0A078JN40
2722,CDY38978,OG0000031,GSBRNA2T00067037001,CDY38978,A0A078HQC2
3392,CDY40967,OG0000041,GSBRNA2T00072218001,CDY40967,A0A078HSX8
4018,CDY39882,OG0000056,GSBRNA2T00068720001,CDY39882,A0A078HPW0
4165,CDY47807,OG0000062,GSBRNA2T00088247001,CDY47807,A0A078ICE8
...,...,...,...,...,...
92911,CDY16678,OG0028084,GSBRNA2T00094527001,CDY16678,A0A078FW68
92912,CDY16696,OG0028085,GSBRNA2T00094551001,CDY16696,A0A078FUN7
92913,CDY34228,OG0028086,GSBRNA2T00056227001,CDY34228,A0A078HBQ9
92916,CDY42357,OG0028089,GSBRNA2T00074626001,CDY42357,A0A078HX06
92919,CDY10727,OG0028092,GSBRNA2T00048533001,CDY10727,A0A078FCJ6